<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Matt & Tiffany's Air Freight Express</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    @using Shipping.Models;
    <h1>Welcome to the Air Freight Express</h1>
    <h2>Your shipping estimate</h2>
    @if (Model.Count == 0)
    {
      <p>There are no parcels to ship</p>
    }
    <ul>
      @foreach (Parcel parcel in Model)
      {
        <li>@parcel.Length</li>
        <li>@parcel.Height</li>
        <li>@parcel.Depth</li>
        <li>@parcel.Weight</li>
        <li>@parcel.Volume()</li>
        <li>@parcel.CostToShip()</li>
      }

    <a href='/parcels/new'>Click here to enter some new dimensions.</a>
    <a href='/'>Click here to return to main menu.</a>
  </body>
</html>